/*This comment is to show that the below code is the background color of the webpage*/
body {
  background-color: lightpink;
}

header {
	align-items: center;
	text-align: center;
}

h1 {
  color: cyan;
  margin-top: 10px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: red;
  font-size: 50px;
  font-family: 'Dancing Script', cursive;
}

sticky {
	color: red;
	background-color: whitesmoke;
	position: fixed;
	font-size: 20px;
}

/*Diary Entry Titles*/
h2 {
	color: teal;
	background-color: paleturquoise;
	text-decoration: underline;
	padding: 10px;
	margin:auto;
	font-size: 60px;
	border-radius: 0.5em;
	text-align: center;
	font-family: 'Dancing Script', cursive;
}

h3 {
	color: ivory;
	text-align: center;
	text-decoration: underline;
	background-color: orchid;
	padding: 10px;
	margin: auto;
	border-color: cyan;
	border-style: dashed;
	border-width: 5px;
	font-family: 'Dancing Script', cursive;
	border-radius: 50em;
}

h4 {
	padding-top: 10px;
	display: inline-block;
	color: black;
	background-color: antiquewhite;
	margin: auto;
	font-size: x-large;
}



p {
	margin:auto;
	background-color: antiquewhite;
}

nav {
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: left;
	font-family: 'Dancing Script', cursive;
	background-color: cyan;
}

main, img {
	display: flex;
	flex-direction: column;
}

@media (min-width: 500px){
	img {
		width: auto;
		max-width: 50px;
	}
}

img {
	height: auto;
	width: auto;
	max-width: 400px;
}

img:hover {
	width: 500px;
	max-width: 3000px;
}

nav ul, nav a{
	display: block;
	border: 2px solid rebeccapurple;
	padding: auto;
	margin: auto;
	font-weight: bolder;
	font-size: 1.2em;
	color: purple;
}

ul > li {
	text-decoration: line-through;
}

form {
	position: absolute;
}

button:active {
	font-size: 50px;
}

a[href="#entry1"] {
	font-size: 60px;
}

#myHeader {
	background-color : purple;
}

.date {
	font-size:40px;
}

* {
	margin-top: 20px;
}

*:hover{
	color:hotpink;
}

h4 ~ p {
	text-decoration: underline;
}

li:first-of-type + li {
	background-color : darkgreen;
	color: white;
  }

details.detailclass {
	background-color : white;
	color: darkgreen;
}